<section class="details" width="90%">

  <h3>New Teacher</h3>

  <div class="item">
    <div>Avatar URL</div>
    <div>
      <input type="url" name="avatar_url" placeholder="http://" value="{{ teacher.avatar_url}}">
    </div>
  </div>

  <div class="item">
    <div>Name</div>
    <div>
      <input type="text" name="name" placeholder="Name Completed" value="{{ teacher.name }}">
    </div>
  </div>

  <div class="item">
    <div>Date of birth</div>
    <div>
      <input type="date" name="birth_date" value="{{ teacher.birth_date }}">
    </div>
  </div>

  <div class="item">
    <div>Educational level</div>
    <div>
      <select name="education_level">
        <option 
          value="High Complete"
          {% if teacher.education_level == "High Complete" %}
          selected
          {% endif %}>Complete high school
        </option>
        <option 
          value="Higher Complete"
          {% if teacher.education_level == "Higher Complete" %}
          selected
          {% endif %}>Complete higher education
        </option>
        <option 
          value="Master"
          {% if teacher.education_level == "Master" %}
          selected
          {% endif %}>Master's
        </option>
        <option 
          value="Doctorate"
          {% if teacher.education_level == "Doctorate" %}
          selected
          {% endif %}>Doctorate degree
        </option>
      </select>
    </div>
  </div>

  <div class="item">
    <div>Class Type</div>
    <div>
      <span>
        <input
          type="radio"
          name="class_type"
          value="Presential"
          {% if teacher.class_type == 'Presential' %} 
          checked
          {% endif %}>Presential
      </span>
      <span>
        <input 
          type="radio" 
          name="class_type" 
          value="Remote"
          {% if teacher.class_type == 'Remote'%}
          checked
          {% endif %}>Remote
      </span>
    </div>
  </div>
  <div>
    <div class="item">
      <div>Subjects Taught</div>
      <div>
        <input name="subjects_taught" value="{{ teacher.subjects_taught }}">
      </div>
    </div>
  </div>

  <button type="submit">Save</button>
</section>